---
import "../../styles/global.css";
import MenuBar from "../MenuBar.astro";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="relative flex flex-row bg-black text-white mx-auto w-2xl h-full">
    <div class="sticky top-0 h-screen flex flex-col">
      <MenuBar />
    </div>

    <main class="relative flex flex-col w-full  items-center">
      <slot />
    </main>
  </body>
</html>
