---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../components/layouts/BaseLayout.astro";
import ContentLayout from "../components/layouts/ContentLayout.astro";


const { slug } = Astro.params;
const post: CollectionEntry<"wiki"> = await getCollection(
  "wiki",
  (entry) => entry.slug === slug
).then((entries) => entries[0]);

const { Content } = await post.render();

export const prerender = true;

export async function getStaticPaths() {
  const pages = await getCollection("wiki");
  return pages.map((page) => ({
    params: { slug: page.slug },
  }));
}
---

<BaseLayout>
  <ContentLayout>
    <h1 slot="title" class="text-5xl font-bold uppercase">{post.data.title}</h1>
    <div slot="body">
      <Content />
    </div>
  </ContentLayout>
</BaseLayout>
