---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const { slug } = Astro.params;
const post: CollectionEntry<"wiki"> = await getCollection(
  "wiki",
  (entry) => entry.slug === slug
).then((entries) => entries[0]);

const { Content } = await post.render();

export const prerender = true;

export async function getStaticPaths() {
  const pages = await getCollection("wiki");
  return pages.map((page) => ({
    params: { slug: page.slug },
  }));
}
---

<BaseLayout>
  <main class="flex flex-col w-full max-w-4xl mx-auto border border-gray-800">
    <header class="w-full flex flex-col text-white sticky top-0 bg-black z-10">
      <h1 class="text-5xl font-bold p-4 uppercase font-[lexend]">
        {post.data.title}
      </h1>
      <nav class="flex flex-row w-full gap-0 px-2">
        <a href="#" class="flex flex-row p-0 m-0">
          <span class="px-2 py-1 text-white font-semibold text-capitalized"> breadcrumbs </span>
        </a>
        <a href="#" class="flex flex-row p-0 m-0">
          <span class="px-2 py-1 text-white font-semibold text-capitalized"> breadcrumbs </span>
        </a>
        <a href="#" class="flex flex-row p-0 m-0">
          <span class="px-2 py-1 text-white font-semibold text-capitalized"> breadcrumbs </span>
        </a>
      </nav>
    </header>
    <article class="prose prose-invert max-w-none p-4">
      <Content />
    </article>
  </main>
</BaseLayout>
