---
import "../styles/grid.css";

import { SITE_TITLE } from "../consts.ts";

import { getCollection } from "astro:content";

const navPages = (await getCollection("wiki"))
  .sort((a, b) => (a.data.order || 0) - (b.data.order || 0))
  .map((page) => ({
    slug: page.slug,
    title: page.data.title,
  }));
---
<aside class="p-8 sticky top-0 flex flex-col bg-black text-white">
  <header class="p-4">
    <h1 class="text-xl font-bold text-white">
      {SITE_TITLE}
    </h1>
  </header>
  <nav class="flex-grow overflow-y-auto px-2">
    <div class="space-y-2 ">
      {navPages.map((page) => (
        <a 
          href={`/${page.slug}`}
          class="flex items-center p-2 text-gray-300 rounded-md hover:bg-gray-800 hover:text-white transition-colors"
        >
          {page.title}
        </a>
      ))}
    </div>
  </nav>
  <footer class="py-3 px-4 border-t border-[#2e2e2e] text-xs text-gray-400">
    © 2023 My Astro Site
  </footer>
</aside>
