---
import "../styles/global.css";
import MenuBar from "../components/MenuBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="relative flex flex-row bg-black text-white mx-auto w-3xl">
    <MenuBar />

    <main class="flex flex-col w-full items-center">
      <slot />
    </main>
  </body>
</html>
